extends layout.pug

block title
  title Seguidores - Fotaza

block content
  main.hero.animate-fade-in
    h1 Seguidores
    p Esta será la página de Seguidores. Aquí podrás ver quién te sigue y a quién sigues.