!DOCTYPE html
html lang="es"
head
  meta charset="UTF-8"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  title Pagina Principal
  link rel="stylesheet" href="/styles/estilosIndex.css"

body
  header id="titulo-principal" Fotaza 2<nav id="titulo-principal-nav">Mis fotos Quienes Somos Seguidores 
  hr
  main style="background-color: rgb(180, 172, 172); color: white;"
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum libero facilis illum voluptatibus ratione, pariatur impedit accusamus. Sed perspiciatis laudantium, cum labore veniam fugiat vitae iste, eligendi sequi recusandae illo!
    button Cambiar tema
  
  hr
  footerLorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quisquam! Nostrum voluptatibus optio, error sunt molestiae ullam sequi, quae deserunt, mollitia delectus nam illum earum culpa laborum nesciunt quia veniam!
  script src="script.js"