extends layout.pug

block title
  title Login - Fotaza

block content
  main.hero.animate-fade-in(style="max-width: 500px; margin: 0 auto;")
    h1 Iniciar Sesion en Fotaza
    p  Inicia Sesion en tu cuenta para entrar a la mejor aplicacion de fotografia de la web!.
    hr
    
    form#form-register(action='/login', method='POST')
      label.form_label(for='correo_registro') Correo Electrónico o Nombre de Usuario
      input#correo_registro.form_input(type='email' name='correo-usuario' placeholder='EJ: correo123@gmail.com')
      
      label.form_label(for='password_registro') Contraseña
      input#password_registro.form_input(type='password' name='password-usuario' placeholder='EJ: Contraseña-Fuerte123')
      
      button.btn-primary#btn-submit-login(type='submit' style="margin-top: 1rem; font-size: 15px") Iniciar Sesion